.local_box {
  display: flex;
  text-align: left;
  flex-direction: row;
  width: 100%;
}
.local_nav {
  /*margin: 40px 0px 0px 30px;*/
  /* width: 21.72%;*/
  padding-top: 50px;
  margin-left: 52px;

  height: 100%;
  position: fixed;
}
.local_div {
  width: 100%;
}
.local_container {
  width: 100%;
  padding-left: 21.72%;
}
.local_c_header {
  width: 95.8%;
  height: 300px;
  background-color: #dcf7fe;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.local_nav_title {
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 33px;
}
.local_list {
  list-style: none;
  padding: 0px;
}

.local_list li {
  margin-bottom: 18px;

  font-weight: 300;
}
.home_button,
.local_list li {
  cursor: pointer;
}
.home_button {
  margin-top: 5px;
  font-size: 15px;
  padding: 5.5px 50px 5.5px 50px;
  border-radius: 0%;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  border-radius: 20px;
}
.home_button:hover,
.local_list li:hover {
  opacity: 70%;
}
.local_header_box {
  padding-top: 50px;
  padding-left: 74px;
}

.local_header_high {
  font-weight: 300;
  margin-bottom: 28px;
}
.local_header_down {
  max-width: 100%;
  font-weight: 800;
  font-size: 40px;
  margin-right: 0px;
}
.local_down_buttons {
  margin-top: 20px;
}
.local_down_buttons img {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  margin-right: 20px;
}
/*.local:hover,
.local:focus,
.local:hover,
.local:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.5em);
  transition: 0.15s;
}
*/

/*localInfo*/
.local_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 45px;
  border: 1px solid black;
  border-radius: 15px;
  width: 85%;
  padding: 10px 10px 10px 10px;
}
.local_items_container {
  padding-left: 40px;
  padding-top: 27px;
  text-align: left;
  height: 200px;
}
.local_img {
  width: auto;
  height: auto;
  max-width: 172.475px;
  max-height: 219.975px;
}
.local_items {
  margin-top: 100px;
  margin-left: 120px;
}
.local_title {
  font-weight: 650;
  font-size: 23px;
  margin-bottom: 20px;
}

.local_host,
.local_part,
.local_local,
.local_host,
.local_first_reward,
.local_total {
  margin-bottom: 2.5px;
}
